# Dependency directory
node_modules

# ide
.vscode
.devcontainer

# git
.git
.gitignore
README.md

# uploads
public/uploads/*
!public/uploads/cover_logo.png

# configs
config/*

# test folder
test

#test scripts
*.ps1
*.sh
